#fondo{
  background-image: url("https://www.ejobcircular.com/wp-content/uploads/2018/05/fifa-world-cup-2018-russia-hd-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 1350px;
  height: 645px;
}

.titulo{
  width: 900px;
  height: 100px;
}

.h1titulo{
  display: flex;
  color: #DED9D9;
  justify-content: center;
  font: oblique bold 210% cursive;
}

.login{
  width: 900px;
  height: 150px;
}

.datos{
  display: flex;
  justify-content: center;
  width: 900px;
}

.boton{
  display: flex;
  justify-content: center;
  width: 900px;
}

input[type=submit] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0F0942;
  color: white;
  cursor: pointer;
  width: 173px;
  height: 35px;
}

input[type=submit]:hover {
background: rgba(0, 0, 153);
box-shadow: inset 0 0 0 3px #3a7999;
}
button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #0F0942;
  color: white;
  cursor: pointer;
  width: 173px;
  height: 35px;
}

button:hover{
 background: rgba(0, 0, 153);
 box-shadow: inset 0 0 0 3px #3a7999;
}