<section id="fondo">
	<br>
	<br>
	<div class="titulo">
		<h1 class="h1titulo">
			PANINI DIGITAL ALBUM
		</h1>
	</div>
	<div class="login">				
				<div class="datos">
					<input type="text" placeholder="Username" [(ngModel)]="usuari" required="se debe completar">
			        <input type="password"  placeholder="Password" [(ngModel)]="contrase" required>
				</div>
		        <div class="boton">
		        	<button class="btnlog" (click)="login_localstorage()">Login"</button>
		        	<button class="btnregister" (click)="grabar_localstorage()">To register"</button>
		        </div>
	</div>
</section>