.cerra{
	width: 1350px;
	height: 100px;
	 display: flex;
  	 justify-content: flex-end;
  	 align-items: center;
}
#fondo{
	background-color: red; 
	background-image: url("https://images.vexels.com/media/users/3/145166/preview2/d197b1660e7f001d36fd14a62b72897c-russia-2018-background-design.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
	width: 1350px;
    height: 645px;
}
.btncerrar{
  background-color: #0F0942;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 35px;
}

.btncerrar:hover{
 background: rgba(0, 0, 153);
 box-shadow: inset 0 0 0 3px #3a7999;
}

.libro{
	background-color: black;
	width: 300px;
	height: 400px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
